body {
    margin: 0;
    font-family: "PT Sans Narrow", Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 500;
    text-transform: uppercase;
    background-color: #ffffff;
    
}

.visually-hidden {
    margin: -1px;
    padding: 0;
    width: 1px;
    height: 1px;
    position: absolute;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.background {
    background-image: url(../img/welcome-index.svg), url("../img/bg-index.jpg");
    background-repeat: no-repeat;;
    background-position: top center;
    background-repeat: no-repeat;
}

.display-none {
    display: none;
}

a {
    text-decoration: none;
}
  
.button {
    font: inherit;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #81b3d2;
    border: none;
}
  
.main-navigation {
    line-height: 26px;
    font-weight: 700;
    color: #000000;
  
    background-color: #ffffff;
}
  
.site-navigation {
    list-style: none;
}
  
.site-navigation a {
    color: #000000;
}
  
.site-navigation a:hover,
.site-navigation a:focus {
    color: #81b3d2;
}

.site-navigation a:active {
    color: rgba(0, 0, 0, 0.3);
} 

.site-navigation-current a {
    color: #766357;
}

.advantages {
    text-align: center;
}

.advantages h2 {
    font-size: 21px;
    line-height: 26px;
    width: 500px;
}

.advantages-list,
.features {
    list-style: none;
}

.advantages h3 {
    font-size: 21px;
    line-height: 21px;
}

.search-hotel {
    text-align: center;
}

.search-hotel {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
}

.search-hotel-text {
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
}

.btn-search-hotel {
    background-color: #766357;
}

.btn-search-hotel:hover,
.btn-search-hotel:focus {
    background-color: #604e43;
}

.btn-search-hotel:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #503e33;
}

.main-footer {
    color:#000000;
    background-color: rgba(249, 251, 246, 0.9);
}

.footer-social {
    list-style: none;
    text-align: center;
}


/* hotels.html */

.inner-page {
    background-image: none;
}

.name-housing {
    color: #000000;
}
  
.name-housing:hover,
.name-housing:focus {
    color: #81b3d2;
}

.name-housing:active {
    color: rgba(0, 0, 0, 0.3);
}

.catalog-item {
    list-style: none;
}
  
.btn-detailed:hover,
.btn-detailed:focus {
    background-color: #669ec0;
}

.btn-detailed:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #5496bd;
}

.btn-reservation {
    background-color: #766357;
}
  
.btn-reservation:hover,
.btn-reservation:focus {
    background-color: #604e43;
}

.btn-reservation:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #503e33;
}
