body {
    margin: 0;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    text-transform: uppercase;
    background-color: #ffffff;
    
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}
  
.background {
    background-image: url(../img/mask-index.svg), url(../img/welcome-index.svg), url("../img/bg-index.jpg");
    background-repeat: no-repeat;
    background-position: bottom center, center 132px, top center;
    background-size: contain, 459px 353px, cover;
    min-height: 565px;
}
  
.button {
    font: inherit;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #81b3d2;
    border: none;
}

.main-header {
    position: relative;
    margin-bottom: 68px;
}

.main-header-logo {
    position: absolute;
    left: 50%;
    margin-left: -75px;
}
  
.main-navigation {
    line-height: 26px;
    font-weight: 700;
    color: #000000;
    background-color: #ffffff;
}
  
.site-navigation {
    display: flex;
    list-style: none;
    margin: 0; 
    padding: 0;
    padding-left: 72px;
    padding-right: 73px;
   
}

.site-navigation li {
    flex-basis: 239px;
    text-align: left;
    padding-top: 15px;
    padding-bottom: 15px;
}

.site-navigation li:nth-child(3),
.site-navigation li:nth-child(4){
    text-align: right;
    
}

.site-navigation li:nth-child(3) {
    margin-left: auto;
}
   
.site-navigation a {
    color: #000000;
}
  
.site-navigation a:hover,
.site-navigation a:focus {
    color: #81b3d2;
}

.site-navigation a:active {
    color: rgba(0, 0, 0, 0.3);
} 

.site-navigation-current a {
    color: #766357;
}

.advantages {
    padding: 0;
    margin: 0;
    margin-bottom: 50px;
}

.pre-advantages {
    text-align: center;
    
}

.pre-advantages h2 {
    margin: 0 auto;
    margin-bottom: 40px;
    width: 450px;
}

.advantages p {
    margin: 0;
    margin-bottom: 60px;
}

.advantages-list,
.features {
    list-style: none;
}

.advantages-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.advantages-list h3,
.advantages-list p {
    margin: 0;
}

.advantages-list h3 {
    text-align: center;
    padding-bottom: 70px;
}

.advantages-list p {
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 60px;
}

.advantages-item:nth-child(1),
.advantages-item:nth-child(5) {
    color: #ffffff;
    background-color: #81b3d2;
}

.advantages-item {
    background-color: #eeeeee;
    flex-basis: 400px;
    padding-top: 45px;
}

.advantages-item h3 {
    position: relative;
    width: 130px;
    margin: 0 auto;
}

.advantages-item:nth-child(8) h3 {
    width: 100px;
}

.advantages-item h3::after {
    content: "— №1 —";
    position: absolute;
    top: 60px;
    left: 50%;
    margin-left: -30px;
}

.advantages-item p {
    width: 304px;
    margin: 0 auto;
}

.advantages-item:nth-child(6) p,
.advantages-item:nth-child(7) p {
    width: 260px;
}

.advantages-item:nth-child(8) p {
    width: 250px;
}

.advantages-item-bg-1 {
    background-image: url(../img/img-1-advantages.jpg); 
    background-repeat: no-repeat;
    flex-basis: 800px;
}

.advantages-item-bg-2 {
    background-image: url(../img/img-2-advantages.jpg); 
    background-repeat: no-repeat;
    flex-basis: 800px;
    
}

.features {
    display: flex;
    padding: 0;
    background-color: #ffffff;
}

.features h3 {
    padding-bottom: 25px;
}

.feature-item {
    position: relative;
    padding-top: 160px;
}

.feature-item::before {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    width: 74px;
    height: 77px;
    top: 60px;
    left: 50%;
    margin-left: -37px;
}

.feature-house::before {
    background-image: url(../img/icon-1-feature-item.svg);
}

.feature-food::before {
    background-image: url(../img/icon-2-feature-item.svg);
}

.feature-souvenirs::before {
    background-image: url(../img/icon-3-feature-item.svg);
}

.features p {
    padding-bottom: 85px;
}

.search-hotel {
    text-align: center;
}

.search-hotel p {
    padding: 0;
    margin: 0;
}

.search-hotel  p:nth-of-type(1) {
    margin-bottom: 13px;
}

.search-hotel {
    position: relative;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
}

.search-hotel .search-hotel-text {
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
    margin-bottom: 50px;
}

.btn-search-hotel {
    display: inline-block;
    font-size: 21px;
    line-height: 26px;
    padding: 30px 142px;
    background-color: #766357;
}

.btn-search-hotel:hover,
.btn-search-hotel:focus {
    background-color: #604e43;
}

.btn-search-hotel:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #503e33;
}

.search-hotel-form {
    position: absolute;
    z-index: 2;
    top: 232px;
    left: 50%;
    margin-left: -287px;
    width: 574px;
    background-color: #ffffff;
    padding-top: 55px;
    padding-bottom: 55px;
    text-align: center;
}

::-webkit-input-placeholder {
    color:#000000;
}

::-moz-placeholder {
    color:#000000;
}

:-moz-placeholder {
    color:#000000;
}

:-ms-input-placeholder {
    color:#000000;
}

.rest-time {
    display: block; 
    position: relative;
}

.calendar {
    position: absolute;
    top: 8px;
    right: 65px;
    fill: #a9a9a9;
}

.search-hotel-form label,
.search-hotel-form input {
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
}

.search-hotel-form input {
    text-transform: uppercase;
    height: 38px;
    width: 346px;
    border: none;
    padding: 0;
    padding-left: 10px;
    margin-bottom: 29px;
    background-color: #f2f2f2;
}

.date-of-arrival {
    margin-left: 21px;
}

.date-of-departure {
    margin-left: 17px;
}

.number-of-people {
    display: inline-block;
    vertical-align: middle;
    margin-right: 28px;
}

.number-of-people:nth-child(1) {
    margin-right: 32px;
}

.adults-container,
.children-container {
    display: inline-block;
    vertical-align: middle;
}

.adults-container {
    margin-right: 50px;
}

.number-of-people:nth-child(1) {
    margin-left: 0;
}

.form-container input {
    vertical-align: middle;
    text-align: center;
    width: 38px;
    margin: 0 -8px;
    padding: 0;
}

.btn-minus,
.btn-plus,
.adults,
.children {
   width: 38px;
   height: 38px;
}

.btn-minus,
.btn-plus {
    color: #a9a9a9;
    background-color: #f2f2f2;
}

.btn-minus:hover,
.btn-minus:focus,
.btn-plus:hover,
.btn-plus:focus {
    color: #000000;
}

.btn-minus:active,
.btn-plus:active {
    color: #81b3d2;
}

.form-container {
    margin-bottom: 54px;
}

.btn-submit {
    font-size: 21px;
    padding: 16px 195px;
}

.btn-submit:hover,
.btn-submit:focus {
    background-color: #669ec0;
}

.btn-submit:active,
.btn-submit:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #5496bd;
}

.map {
    position: relative;
}

.main-footer {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
    color:#000000;
    background-color: rgba(249, 251, 246, 0.9);
    padding: 25px 100px 25px 132px;
    margin-top: -134px;
}

.inner-page {
    background-color: #ffffff;
    margin-top: 0;
}

.footer-visitsedona {
    font-size: 21px;
    line-height: 26px;
    margin-right: 20px;
}

.footer-social {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    flex-basis: 150px;
}

.social-btn {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 47px;
    height: 48px;
    color: #ffffff;
    background-color: #81b3d2;
}

.social-btn:hover,
.social-btn:focus {
    background-color: #669ec0;
}

.social-btn:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #5496bd;
}

.btn-htmlacademy {
    display: inline-block;
    vertical-align: middle;
}

.btn-htmlacademy path,
.btn-htmlacademy rect {
    fill: #000000;
}





/* hotels.html */


.catalog-list {
    margin: 0;
    padding: 0;
    margin-left: 72px;
    margin-right: 72px;
}

.catalog-item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
    position: relative;
    padding-top: 30px;
    padding-bottom: 31px;
}

.catalog-item::after {
    content: "";
    position: absolute;
    height: 1px;
    bottom: 0;
    left: -72px;
    right: -72px;
    background-color: #e5e5e5;
}

.catalog-item h3 {
    margin: 0;
    margin-bottom: 15px;
}

.catalog-item p {
    margin: 0;
    margin-bottom: 18px;
}

.catalog-item p:last-of-type {
    margin-bottom: 0;
}

.catalog-item-image {
    margin-right: 30px; 
}

.type-of-housing {
    display: flex;
}

.price-hotel {
    margin-left: 45px;
}

.price-motel {
    margin-left: 70px;
}

.price-apartment {
    margin-left: 25px;
}

.rating-container {
    margin-left: auto;
}

.stars {
    display: block;
    height: 17px;
    background-image: url(../img/star.svg);
    background-repeat: repeat-x;
    margin-left: auto;
    margin-bottom: 48px;
}

.stars-4 {
    width: 72px;
}

.stars-3 {
    width: 54px;
}

.stars-2 {
    width: 37px;
}

.rating { 
    padding: 5px 13px 6px 16px;
    background-color: #f2f2f2;
}

.name-housing {
    color: #000000;
}
  
.name-housing:hover,
.name-housing:focus {
    color: #81b3d2;
}

.name-housing:active {
    color: rgba(0, 0, 0, 0.3);
}

.btn-detailed,
.btn-reservation {
    padding: 5px 20px;
}
  
.btn-detailed:hover,
.btn-detailed:focus {
    background-color: #669ec0;
}

.btn-detailed:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #5496bd;
}

.btn-reservation {
    background-color: #766357;
}
  
.btn-reservation:hover,
.btn-reservation:focus {
    background-color: #604e43;
}

.btn-reservation:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #503e33;
}
